<p>There should be some data below<p>
{% if weather_data %}
    <table>
    <tr>
	    <th>Date</th>
	    <th>Min Temp [&deg;C]</th>
	    <th>Max Temp [&deg;C]</th>
	    <th>Wind [km/h]</th>
	    <th>Rain [%]</th>
    </tr>
	    {% for w in weather_data %}
	        <tr>
		        <td>{{ w.date }}</td>
		        <td>{{ w.min_temp }}</td>
		        <td>{{ w.max_temp }}</td>
		        <td>{{ w.wind }}</td>
		        <td>{{ w.rain }}</td>
	        </tr>
	    {% endfor %}
	    
    </table>
{% else %}
    <p>No weather stats are available.</p>
{% endif %}