{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
<!-- <img src="{% static "my_app/example.jpg" %}" alt="My image"/> -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header class="header">
<h1><a id="home" href="{% url 'main:index' %}" style=""> {% block content_header %}{% endblock %}</a></h1>
    
  {% block greeting %}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">log out</a>
    {% else %}
      Please <a href="{% url 'register' %}">register an account</a> or <a href="{% url 'login' %}">log in.</a>
    {% endif %}
  {% endblock %}
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <a href="mailto:roansong@gmail.com" target="_blank">roansong@gmail.com</a> | <a href="http://github.com/roansong" target="_blank">GitHub</a>
  </footer>
</body>
</html>